@import 'assets/styles/variable';

.mypage {
  width: 70%;
  min-height: 80vh;
  margin-left: 15%;
  display: grid;
  grid-template-columns: 2fr 2.5fr;
  justify-content: center;

  .user-profile-container {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 3em;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;

    .user-image {
      width: 150px;
      height: 150px;
      border: none;
      border-radius: 50%;
    }

    .add-med-group-btn {
      border: none;
      border-radius: 5px;
      text-align: center;
      padding-top: 0.5em;
      padding-bottom: 0.5em;
      cursor: pointer;
      background-color: #9ec4f7;
      font-weight: bold;
      color: #01437c;
      @include button-effect;
    }
  }

  .user-med-group-container {
    width: 100%;
    height: 100%;
    padding-left: 10%;
    border-left: solid $dark 1px;

    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
