@import 'assets/styles/variable';

.mypage {
  width: 70%;
  max-width: 880px;
  margin: 0 auto;
  height: calc(90vh - 70px - 4em);
  display: grid;
  grid-template-columns: 2fr 3fr;
  justify-content: center;

  .view-mode-notification {
    margin-top: -1em;
    text-align: center;
  }

  .user-section {
    display: flex;
    flex-direction: column;
    gap: 2em;
    padding: 3em 1em;
  }

  .user-med-group-container {
    padding: 1em 1em;
    overflow-y: scroll;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

@media screen and (max-width: 860px) {
  .mypage {
    width: 80%;
  }
}

@media screen and (max-width: 760px) {
  .mypage {
    height: calc(100vh - 70px);
    width: 90%;
    .user-section {
      padding-right: 0;
    }
  }
}

@media screen and (max-width: 560px) {
  .mypage {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    overflow-y: scroll;
    padding-top: 2em;

    .user-section {
      display: flex;
      flex-direction: column;
      gap: 1em;
      padding-top: 1em;
    }

    .user-med-group-container {
      overflow-y: unset;
    }
  }
}

@media screen and (max-width: 420px) {
  .mypage {
    .user-med-group-container {
      padding: 1em 0;
    }
  }
}
