$dark: #222831;
$light-dark: #393e46;
$main: rgb(253, 223, 174);
$sub-main: #fd7014;
$highlight: #0970f7;
$light-highlight: #9ec4f7;
$danger: rgb(214, 49, 27);
$bright: rgb(241, 240, 240);
$outline: rgb(177, 172, 172);
$checked: #12b104;

@mixin button-effect {
  font-size: 1em;
  cursor: pointer;
  &:hover {
    opacity: 0.9;
  }
  &:active {
    opacity: 1;
  }
}

@mixin med-group-property {
  width: 90%;
  padding: 1em 1em;
  borer: none;
  background-color: $bright;
  border-radius: 3px;
  margin-bottom: 1em;
}

@mixin easy-med-group-property {
  width: 100%;
  font-size: 1.3em;
}

@mixin med-group-button-propery {
  width: 40%;
  text-align: center;
  border: none;
  border-radius: 3px;
  padding: 0.3em;
  font-weight: bold;
  color: #eee;
  background-color: $sub-main;
  text-decoration: none;
  @include button-effect;
}
