.notification {
  background-color: rgba(255, 211, 130, 0.8);
  border: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em 0;
  gap: 1em;
  border-radius: 10px;
  height: 90px;
  margin: -1em 0;

  .notification-option-container {
    display: flex;
    gap: 1.2em;
    margin: 0;

    > p {
      margin: 0;
    }

    .accept-btn {
      border: none;
      font-weight: bold;
      color: #0970f7;
      // padding: 0.3em;
      cursor: pointer;
      &:hover {
        border-bottom: solid black 1px;
      }
    }
    .decline-btn {
      border: none;
      font-weight: bold;
      color: #474c4e;
      // padding: 0.3em;
      cursor: pointer;
      &:hover {
        border-bottom: solid black 1px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .notification {
    width: 70%;
    margin: -1em auto 1em auto;
  }
}

@media screen and (max-width: 480px) {
  .notification {
    width: 80%;
  }
}

@media screen and (max-width: 400px) {
  .notification {
    width: 90%;
  }
}
