@import 'assets/styles/variable';

.app {
  width: 100%;
  min-height: 90vh;
  background-image: url(https://drimmune.files.wordpress.com/2020/05/3461699.jpg?w=2000&#038;h=1500&#038;crop=1);
  background-position: center;
  background-size: cover;
  opacity: 0.9;

  .page-container {
    position: relative;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: rgba(238, 238, 238, 0.8);
    height: calc(90vh - 70px - 4em);
  }
}

@media screen and (max-width: 760px) {
  .app {
    height: 100vh;

    .page-container {
      height: calc(100vh - 70px);
      margin: 0;
      background-color: rgba(238, 238, 238, 0.6);
    }
  }
}
