@import 'assets/styles/variable';

.app {
  width: 100%;

  .page-container {
    background-color: $bright;
    padding-top: 2em;
    padding-bottom: 2em;
    min-height: 80vh;
  }

  .footer {
    background-color: $light-dark;
    border-top: solid #eee 1px;
    height: 10vh;
    color: #eee;
  }
}
