@import 'assets/styles/variable';

.med-group-containter {
  @include med-group-property;

  .med-group-name {
    border-bottom: 2px solid white;
    box-shadow: none;
    font-size: 1.3  em;

    width: 100%;
    text-align: center;
    padding-bottom: 0.25em;
    padding-top: 0.25em;
    margin-bottom: 0.5em;
  }

  .message-taken {
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 0.5em 0;


    .fa-check-circle {
      color: white;
      font-size: 1.2em;
    }
  }

  .message-not-taken-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    > p {
      margin: 0.5em 0;
    }
    .message-not-taken {
      font-weight: bold;
    }

    .take-btn {
      border: none;
      border-radius: 4px;
      background-color: #009b12;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
      padding: 0.4em 1em;
      font-weight: bold;
      color: #eee;
      text-align: center;
      @include button-effect;
      margin-bottom: 20px;
      font-size: 1.2;
    }
  }

  .med-group-btn-container {
    display: flex;
    gap: 1em;
    justify-content: center;

    .med-group-edit-btn {
      @include med-group-button-propery;
      background-color: $lighter-dark-blue;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        background-color: $dark-blue;
      }
    }

    .med-group-detail-btn {
      @include med-group-button-propery;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2),
        0 3px 10px 0 rgba(0, 0, 0, 0.19);
      margin-top: 1em;
      margin-bottom: 1em;
      &:hover {
        background-color: $sub-main;
      }
    }
  }
}

.easy-med-group-containter {
  @include easy-med-group-property;

  .message-not-taken-container {
    flex-direction: column;
    gap: unset;

    .take-btn {
      padding: 0.4em 2em;
      font-size: 1.2em;
      width: 50%;
    }
  }

  .med-group-btn-container {
    .med-group-edit-btn,
    .med-group-detail-btn {
      font-size: 1.3em;
      padding: 0.4em 2em;
      width: 50%;
    }
  }
}

@media screen and (max-width: 960px) {
  .easy-med-group-containter {
    .message-not-taken-container {
      .take-btn {
        width: 70%;
      }
    }
    .med-group-btn-container {
      .med-group-edit-btn,
      .med-group-detail-btn {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .easy-med-group-containter {
    .message-not-taken-container {
      .take-btn {
        width: 80%;
      }
    }
    .med-group-btn-container {
      .med-group-edit-btn,
      .med-group-detail-btn {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .med-group-containter {
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  .med-group-containter {
    width: 90%;
  }
}
