@import 'assets/styles/variable';

.med-group-containter {
  @include med-group-property;

  .med-group-name {
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    border-bottom: solid $dark 1px;
  }

  .message-taken {
    color: $highlight;
    font-weight: bold;
    text-align: center;
    margin: 0.5em 0;
  }

  .message-not-taken-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    > p {
      margin: 0.5em 0;
    }
    .message-not-taken {
      color: $danger;
      font-weight: bold;
    }

    .take-btn {
      border: none;
      border-radius: 4px;
      background-color: #12b104;
      padding: 0.4em;
      font-weight: bold;
      color: #eee;
      @include button-effect;
    }
  }

  .med-group-btn-container {
    display: flex;
    gap: 1em;
    justify-content: center;

    .med-group-edit-btn {
      @include med-group-button-propery;
      background-color: $light-highlight;
    }
    .med-group-detail-btn {
      @include med-group-button-propery;
      background-color: $sub-main;
    }
  }
}

@media screen and (max-width: 550px) {
  .med-group-containter {
    width: 80%;
  }
}
