@import 'assets/styles/variable';

.med-group-containter {
  @include med-group-property;
  // background-color: rgba(238, 238, 238, 0.9); // rgba(60, 202, 227, 0.6);
  background-color: rgba(99, 206, 225, 0.852);
  // background-color: rgba(60, 202, 227, 0.852);
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);

  .med-group-name {
    color: white; //rgba(60, 202, 227, 0.6);
    text-shadow: 0 0 2px $dark-blue;
    font-size: 1.3em;
    width: 100%;
    text-align: center;
    padding-bottom: 0.5em;
    margin-bottom: 0.5em;
    // border-bottom: solid #01649e 2px;
    border-bottom: solid white 2px;
  }

  .message-taken {
    color: white;
    // text-shadow: 0 0 1px $dark-blue;
    font-weight: bold;
    font-size: 1.1em;
    text-align: center;
    margin: 0.5em 0;
    .fa-check-circle {
      color: #008e6d;
      color: white;
      font-size: 1.2em;
    }
  }

  .message-not-taken-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;

    > p {
      margin: 0.5em 0;
    }
    .message-not-taken {
      // color: #b80b25;
      // color: $orange-needle;
      // color: $danger;
      color: dark;
      font-weight: bold;
    }

    .take-btn {
      border: none;
      border-radius: 4px;
      background-color: #009b12;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      padding: 0.4em 1em;
      font-weight: bold;
      color: #eee;
      text-align: center;
      @include button-effect;
      margin-bottom: 20px;
      font-size: 1.2;
    }
  }

  .med-group-btn-container {
    display: flex;
    gap: 1em;
    justify-content: center;

    .med-group-edit-btn {
      @include med-group-button-propery;
      background-color: $lighter-dark-blue;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        background-color: $dark-blue;
      }

    }
    .med-group-detail-btn {
      @include med-group-button-propery;
      background-color: $orange-needle;
      box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
      &:hover {
        background-color: $sub-main;
      }
      
      // box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
    }
  }
}

.easy-med-group-containter {
  @include easy-med-group-property;

  .message-not-taken-container {
    flex-direction: column;
    gap: unset;

    .take-btn {
      padding: 0.4em 2em;
      font-size: 1.2em;
      width: 50%;
    }
  }

  .med-group-btn-container {
    .med-group-edit-btn,
    .med-group-detail-btn {
      font-size: 1.3em;
      padding: 0.4em 2em;
      width: 50%;
    }
  }
}

@media screen and (max-width: 960px) {
  .easy-med-group-containter {
    .message-not-taken-container {
      .take-btn {
        width: 70%;
      }
    }
    .med-group-btn-container {
      .med-group-edit-btn,
      .med-group-detail-btn {
        width: 70%;
      }
    }
  }
}

@media screen and (max-width: 760px) {
  .easy-med-group-containter {
    .message-not-taken-container {
      .take-btn {
        width: 80%;
      }
    }
    .med-group-btn-container {
      .med-group-edit-btn,
      .med-group-detail-btn {
        width: 80%;
      }
    }
  }
}

@media screen and (max-width: 550px) {
  .med-group-containter {
    width: 80%;
  }
}

@media screen and (max-width: 420px) {
  .med-group-containter {
    width: 90%;
  }
}
