@import 'assets/styles/variable';

.sign-in-box {
  margin-left: 15vw;
  width: 350px;
  height: 300px;
  border-radius: 5px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $light-highlight;

  .sign-in-form {
    padding: 1em;
    margin-top: 1.5em;
    display: flex;
    flex-direction: column;
    align-items: center;

    .sign-in-title {
      margin-bottom: 1em;
    }

    .sign-in-input-box {
      > input {
        font-size: 1em;
        width: 230px;
        padding: 0.5em;
        margin-bottom: 1.2em;
      }
    }

    .sign-in-btn {
      @include button-effect;
      width: 200px;
      padding: 0.6em;
      border: none;
      background-color: $sub-main;
      border-radius: 5px;
      margin-top: 1em;
    }
  }
}

@media screen and (max-width: 860px) {
  .sign-in-box {
    margin: 2em auto 0 auto;
  }
}

@media screen and (max-width: 760px) {
  .sign-in-box {
    width: 300px;
  }
}
