@import 'assets/styles/variable';

@mixin search-result-property {
  width: 100%;
  border: none;
  border-bottom: solid $outline 0.5px;
  background-color: #eee;
  padding: 0.2em 1em;
}

@mixin non-invite-btn-property {
  cursor: unset;
}

.search-result-container {
  width: 100%;
  font-size: 0.8em;

  .user-on-search {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.4em;
    @include search-result-property;

    .invite-btn {
      cursor: pointer;
      border: none;
      padding: 0.5em;
      border-radius: 5px;
      background-color: $highlight;
      color: #eee;
    }

    .disabled-btn {
      @include non-invite-btn-property;
      background-color: grey;
    }
    .pending {
      @include non-invite-btn-property;
      background-color: grey;
    }

    .bonded {
      @include non-invite-btn-property;
      background-color: $light-highlight;
    }
  }

  .no-result-message {
    @include search-result-property;
    padding: 1.2em;
    text-align: center;
  }
}

@media screen and (max-width: 480px) {
  .search-result-container {
    .user-on-search {
      padding: 0.5em 0.3em;
    }
  }
}
