@import '../../assets/styles/variable';

.nav-container {
  width: 100%;
  padding: 1em 3em;
  background-color: #fff;
  height: 70px;

  .nav {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 100%;
    max-width: 1024px;

    .link-group {
      display: flex;
      align-items: center;
    }
  }
}
