.sign-out-button {
  cursor: pointer;
  margin-right: 2em;
}
.easy-sign-out-btn {
  font-size: 1.3em;
}
@media screen and (max-width: 560px) {
  .sign-out-button {
    .sign-out-name {
      display: none;
    }
  }
}
