.sign-out-button {
  cursor: pointer;
  margin-right: 1.5em;
}
.easy-sign-out-btn {
  font-size: 1.3em;
}

@media screen and (max-width: 640px) {
  .sign-out-button {
    margin-right: 0.5em;
  }
}

@media screen and (max-width: 560px) {
  .sign-out-button {
    .sign-out-name {
      display: none;
    }
  }
}
