@import 'assets/styles/variable';

.beside-bond-user-list {
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;

  > img {
    object-fit: cover;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }

  .bond-name-container {
    margin-top: 2em;
    width: 100%;
    text-align: center;
    justify-content: center;
    text-shadow: 0 0 3px rgba(0, 0, 0, 0.187);

    .number-of-bond-users {
      margin-top: 1em;
    }
  }
}
