.bond-user-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1em;
  padding: 0.5em 2em;
  cursor: pointer;
  font-size: 1em;
  text-align: center;

  &:hover {
    font-size: 1.05em;
  }

  > img {
    border-radius: 50%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    object-fit: cover;
    width: 70px;
    height: 70px;
  }

  .bond-user-name {
    width: 8em;
  }

  .bond-user-email {
    width: 10em;
  }
}

@media screen and (max-width: 880px) {
  .bond-user-container {
    &:hover {
      font-size: 1em;
    }

    > img {
      width: 60px;
      height: 60px;
    }
    .bond-user-name {
      width: 5em;
    }
  }
}
@media screen and (max-width: 660px) {
  .bond-user-container {
    padding: 0.5em;
    > img {
      width: 50px;
      height: 50px;
    }
  }
}
