@import 'assets/styles/variable';

@mixin med-input-property {
  font-size: 0.9em;
  padding: 0.2em 0;

  &:focus {
    outline: none;
  }
}

.med-input-group {
  display: flex;
  align-items: center;
  gap: 0.5em;
  justify-content: center;
  margin-bottom: 0.4em;

  > input {
    @include med-input-property;
  }
  > select {
    @include med-input-property;
  }
  > input[type='text'] {
    width: 120px;
  }

  > input[type='number'] {
    width: 72px;
  }
  .add-med-input-btn-show {
    display: inline;
    width: 20px;
    text-align: center;
    // margin-left: 0.5em;
    display: inline;
    cursor: pointer;
  }

  .add-med-input-btn {
    display: none;
  }
}

@media screen and (max-width: 680px) {
  .med-input-group {
    .measure {
      width: 50px;
    }

    .type {
      width: 75px;
    }

    > input {
      font-size: 0.9em;
    }

    > input[type='text'] {
      width: 100px;
    }

    > input[type='number'] {
      width: 50px;
    }
    .add-med-input-btn-show {
      display: inline;
      width: 20px;
      text-align: center;
      // margin-left: 0.5em;
      display: inline;
      cursor: pointer;
    }

    .add-med-input-btn {
      display: none;
    }
  }
}

@media screen and (max-width: 420px) {
  .med-input-group {
    .measure {
      width: 40px;
    }
    .type {
      width: 60px;
    }
  }
}
