@import 'assets/styles/variable';

.med-input-group {
  display: flex;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 0.4em;

  > input {
    font-size: 0.8em;
  }
  > input[type='number'] {
    width: 72px;
  }
  .add-med-input-btn-show {
    display: inline;
    width: 22px;
    text-align: center;
    font-weight: bold;
    border: solid $dark 1px;
    border-radius: 50%;
    margin-left: 0.5em;
    display: inline;
    cursor: pointer;
  }
  .add-med-input-btn {
    display: none;
  }
}
