@import 'assets/styles/variable';

.meddetailspage {
  > h2 {
    text-align: center;
  }

  .tab {
    border: none;
    display: flex;

    > p {
      margin: 0;
      padding: 1em 0.5em;
      background-color: #dcfcf6;
      color: $dark;
      width: 100%;
      border: none;
      text-align: center;
      cursor: pointer;
      &:hover {
        background-color: #4cccd9;
      }
    }
    .active {
      background-color: #4cccd9;
    }
  }

  /* Style the tab content */
  .tabcontent {
    background-color: whitesmoke;
    opacity: 80%;
    padding: 0px 12px;
    border: none;
    border-left: none;
  }
}

@media only screen and (max-width: 600px) and (orientation: portrait) {
  .meddetailspage {
    position: fixed;
    width: 550px;
    height: 400px;
    top: 150px;
    left: -30px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

@media only screen and (max-width: 500px) and (orientation: portrait) {
  .meddetailspage {
    width: 500px;
    top: 150px;
    left: -50px;
  }
}

@media only screen and (max-width: 420px) and (orientation: portrait) {
  .meddetailspage {
    width: 500px;
    height: 400px;
    top: 150px;
    left: -100px;
  }
}
