@import 'assets/styles/variable';

/* Style the tab */
.tab {
  border: none;
  // background-color: #dcfcf6;
  width: 30%;
  height: 65px;
  display: flex;

  > p {
    margin: 0;
    background-color: #dcfcf6;
    color: $dark;
    width: 100%;
    border: none;
    text-align: center;
    cursor: pointer;
    font-size: 17px;
    &:hover {
      background-color: #4cccd9;
    }
  }
  .active {
    background-color: #4cccd9;
  }
}

/* Style the tab content */
.tabcontent {
  background-color: whitesmoke;
  opacity: 80%;
  padding: 0px 12px;
  border: none;
  border-left: none;
}

@media only screen and (orientation: portrait) {
  .meddetailspage {
    height: 100vw;
    // width:
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}
// @media only screen and ('.meddetailspage') {
//   -webkit-transform: rotate(0deg);
//   -moz-transform: rotate(0deg);
//   -o-transform: rotate(0deg);
//   -ms-transform: rotate(0deg);
//   transform: rotate(0deg);
// }
