@import '../../assets/styles/variable';

@mixin med-group-popup-button-container {
  margin: 1em auto;
  text-align: center;
}

@mixin med-group-popup-button {
  width: 200px;
  text-align: center;
  padding: 0.3em;
  border-radius: 3px;
  border: none;
}

@mixin med-group-input-property {
  border: none;
  border-bottom: solid grey 1px;
  background-color: #eee;
  &:focus {
    outline: none;
    border-bottom: solid $sub-main 2px;
  }
}

.med-group-popup {
  z-index: 999;
  position: fixed;
  background-color: $bright;
  padding: 2em 1em;
  border-radius: 5px;
  width: 60vw;
  height: 60vh;
  overflow-y: scroll;
  left: 20vw;
  top: 15vh;

  .med-group-info-container {
    display: flex;
    gap: 1em;
    margin-bottom: 0.5em;

    .med-group-name-input {
      font-size: 1.5em;
      @include med-group-input-property;
    }

    .med-group-detail-input {
      width: 300px;
      @include med-group-input-property;
    }

    .med-group-compliance-time-input {
      width: 140px;
      @include med-group-input-property;
    }

    .med-group-care-taker-input {
      @include med-group-input-property;
    }

    .view-mode-input {
      &:focus {
        border-bottom: solid grey 1px;
      }
    }
  }

  .view-mode-info {
    margin-bottom: 1em;
  }

  .med-table {
    margin: 0.6em 0;
    .med-table-head {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      background-color: $main;
      text-align: center;
      > strong {
        margin: 0.3em;
      }
    }

    .view-mode {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }

  .save-med-group-btn-container {
    @include med-group-popup-button-container;

    .save-med-group-btn {
      background-color: $sub-main;
      margin-top: 1em;
      color: #eee;
      font-weight: bold;
      @include med-group-popup-button;
      @include button-effect;
    }
  }
  .delete-med-group-btn-container {
    @include med-group-popup-button-container;

    .delete-med-group-btn {
      background-color: $danger;
      margin: 2em auto 1em auto;
      @include med-group-popup-button;
      @include button-effect;
    }
  }
}

.view-mode-popup {
  padding: 4em 1em;
}

@media screen and (max-width: 860px) {
  .med-group-popup {
    width: 70vw;
    height: 70vh;
    left: 15vw;
    top: 15vh;
  }
}

@media screen and (max-width: 680px) {
  .med-group-popup {
    width: 80vw;
    height: 70vh;
    left: 10vw;
    top: 15vh;

    .med-group-info-container {
      display: flex;
      gap: 1em;
      margin-bottom: 0.5em;

      .med-group-detail-input {
        width: 240px;
      }

      .med-group-compliance-time-input {
        width: 100px;
      }
    }

    .save-med-group-btn-container {
      .save-med-group-btn {
        width: 180px;
      }
    }

    .delete-med-group-btn-container {
      .delete-med-group-btn {
        width: 180px;
      }
    }
  }
}

@media screen and (max-width: 560px) {
  .med-group-popup {
    width: 90vw;
    height: 70vh;
    left: 5vw;
    top: 15vh;
  }
}

@media screen and (max-width: 480px) {
  .med-group-popup {
    width: 100vw;
    height: 70vh;
    left: 0;
    top: 15vh;
    padding: 2em 0.3em;
  }
}
