@import '../../assets/styles/variable';

@mixin med-group-popup-button-container {
  margin: 1em auto;
  text-align: center;
}

@mixin med-group-popup-button {
  width: 200px;
  text-align: center;
  padding: 0.3em;
  border-radius: 3px;
  border: none;
  color: #eee;
}

@mixin med-group-input-property {
  border: none;
  background-color: rgb(255, 255, 255);
  &:focus {
    outline: none;
    border-bottom: solid $sub-main 2px;
  }
}

.med-group-popup {
  z-index: 999;
  position: fixed;
  background-color: rgba(255, 255, 255, 0.95);
  padding: 2em 1em;
  border-radius: 5px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 3px 10px 0 rgba(0, 0, 0, 0.19);
  width: 60vw;
  height: 70vh;
  overflow-y: scroll;
  left: 20vw;
  top: 12vh;

  .med-group-info-container {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1em;
    color: #8e8e8e;
    padding-left: 2em;
    padding-top: 1em;
    text-align: center;

    > input {
      font-size: 1em;
    }
    > select {
      font-size: 1em;
    }
    .med-group-name-input {
      font-size: 1.5em;
      padding: 0.2em;
      width: 100%;
      color: $dark;
      @include med-group-input-property;
      background-color: transparent;
      border-bottom: solid grey 2px;
    }

    .med-group-detail-input {
      width: 100%;
      padding-left: 0.2em;
      color: $dark;
      overflow-x: scroll;
      @include med-group-input-property;
      background-color: transparent;
    }

    .med-group-compliance-time-input {
      width: 150px;
      padding-left: 1em;
      color: $dark;
      vertical-align: middle;
      @include med-group-input-property;
      background-color: transparent;
    }

    .med-group-care-taker-input {
      padding-left: 1em;
      color: $dark;
      @include med-group-input-property;
      background-color: transparent;
    }
  }

  .med-table {
    color: $dark;
    margin: 0.6em 0;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    text-align: center;
    .med-table-head {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      // background-color: $main;
      text-align: center;
      margin-top: 1em;
      border-bottom: 2px solid #8e8e8e;
      > strong {
        margin: 0.3em;
      }
    }
  }

  .save-med-group-btn-container {
    @include med-group-popup-button-container;

    .save-med-group-btn {
      background-color: white;
      margin-top: 1em;
      color: #eee;
      font-weight: bold;
      @include med-group-popup-button;
      @include button-effect;
      background-color: $orange-needle;
      padding: 0.5em;
      &:hover {
        background-color: $sub-main;
      }
    }
  }
  .delete-med-group-btn-container {
    @include med-group-popup-button-container;

    .delete-med-group-btn {
      background-color: $danger;
      margin: 2em auto 1em auto;
      font-weight: bold;
      @include med-group-popup-button;
      @include button-effect;
    }
  }
}

.view-mode-popup {
  padding: 3em 1em;

  .med-group-info-container {
    margin-bottom: 1em;
    .med-group-name-input,
    .med-group-detail-input,
    .med-group-compliance-time-input,
    .med-group-care-taker-input {
      &:focus {
        border-bottom: solid grey 1px;
      }
    }
  }

  .med-table {
    margin: 0.6em 0;
    .med-table-head {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}

.easy-mode-popup {
  font-size: 1.3em;
  width: 75vw;
  height: 75vh;
  left: 12.5vw;
  top: 10vh;

  .med-group-info-container {
    margin-bottom: 1em;

    .med-group-name-input {
      font-size: 1.6em;
    }

    .med-group-detail-input,
    .med-group-compliance-time-input,
    .med-group-care-taker-input {
      font-size: 1.1em;
      &:focus {
        border-bottom: solid grey 1px;
      }
    }
  }
  .save-med-group-btn-container {
    .save-med-group-btn {
      font-size: 1.2em;
      padding: 0.5em;
      width: 300px;
    }
  }
}

@media screen and (max-width: 860px) {
  .med-group-popup {
    width: 70vw;
    height: 70vh;
    left: 15vw;
    top: 15vh;
  }
  .easy-mode-popup {
    font-size: 1.3em;
    width: 75vw;
    height: 75vh;
    left: 12.5vw;
    top: 10vh;
  }
}

@media screen and (max-width: 760px) {
  .easy-mode-popup {
    font-size: 1.3em;
    width: 85vw;
    height: 85vh;
    left: 7.5vw;
    top: 7vh;
  }
}

@media screen and (max-width: 680px) {
  .med-group-popup {
    width: 80vw;
    height: 70vh;
    left: 10vw;
    top: 15vh;

    .med-group-info-container {
      display: flex;
      gap: 1em;
      margin-bottom: 0.5em;

      .med-group-detail-input {
        width: 240px;
      }

      .med-group-compliance-time-input {
        width: 100px;
        // border: solid grey 1px;
      }
    }

    .save-med-group-btn-container {
      .save-med-group-btn {
        width: 180px;
      }
    }

    .delete-med-group-btn-container {
      .delete-med-group-btn {
        width: 180px;
      }
    }
  }
  .easy-mode-popup {
    font-size: 1.3em;
    width: 85vw;
    height: 85vh;
    left: 7.5vw;
    top: 7vh;
  }
}

@media screen and (max-width: 600px) {
  .easy-mode-popup {
    font-size: 1.3em;
    width: 100vw;
    height: 85vh;
    left: 0;
    top: 7vh;
  }
}

@media screen and (max-width: 560px) {
  .med-group-popup {
    width: 90vw;
    height: 70vh;
    left: 5vw;
    top: 15vh;
  }
  .easy-mode-popup {
    font-size: 1.3em;
    width: 100vw;
    height: 85vh;
    left: 0;
    top: 7vh;
  }
}

@media screen and (max-width: 480px) {
  .med-group-popup {
    width: 100vw;
    height: 70vh;
    left: 0;
    top: 15vh;
    padding: 2em 0.3em;

    .med-group-info-container {
    }
  }
}
