@import '../../assets/styles/variable';

.overlay {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  height: 100vh;
  background-color: #00000050;
  opacity: 0.8;
}

.background {
  z-index: -999;
  position: absolute;
  height: 70vh;
  background-color: #eee;
  opacity: 0.9;
}
