@import 'assets/styles/variable';
.homepage {
  // padding-top: px;
  margin-top: auto;
  margin-bottom: auto;
}

@media screen and (max-width: 760px) {
  .homepage {
    // padding-top: 180px;
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    justify-content: left;
  
    .sign-in-container {
      width: fit-content;
      // margin-bottom: auto;
      // margin-top: auto;
    }
  }
}
