@import '../../../assets/styles/variable';

.searchpage {
  width: 70%;
  max-width: 880px;
  margin: 0 auto;
  padding-top: 1em;

  .search-bar-container {
    width: 60%;
    max-width: 760px;
    margin: 2em auto 0 auto;

    .search-bar {
      width: 100%;
      padding: 1em 2em;
      font-size: 1em;
      border: none;
      border-radius: 2px;
      &:focus {
        outline: none;
      }
    }
  }
}
